<link rel="stylesheet"  sizes="800x480" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<div class="container-fluid" style="background-color: black;">
  <div class="row">
    <div class="col-12 col-xs-12 col-sm-12	col-md-12	col-lg-12 padding-0">
      <br>
      <br>
      <app-bars
                [barValOne]   = "barValOne"
                [barValTwo]   = "barValTwo"
                [barValThree] = "barValThree"
                [barValFour]  = "barValFour">
      </app-bars>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xs-12 col-sm-12	col-md-12	col-lg-12 padding-0">
      <app-under-bar-elements
                [elementRowZero]  = "elementRowZero"
                [elementRowOne]   = "elementRowOne"
                [elementRowTwo]   = "elementRowTwo"
                [elementRowThree] = "elementRowThree">
      </app-under-bar-elements>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xs-12 col-sm-12	col-md-12	col-lg-12 padding-0">
      <app-seven-segment-display
                [hours]     = "hoursToSend"
                [hourglass] = "hourglassToSend">
      </app-seven-segment-display>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xs-12 col-sm-12	col-md-12	col-lg-12 padding-0">
      <app-standard-images
                [lowIND11] = "lowIND11"
                [lowIND12] = "lowIND12"
                [lowIND13] = "lowIND13"
                [lowIND14] = "lowIND14"
                [lowIND21] = "lowIND21"
                [lowIND22] = "lowIND22"
                [lowIND23] = "lowIND23"
                [lowIND24] = "lowIND24"
                [lowIND31] = "lowIND31"
                [lowIND32] = "lowIND32"
                [lowIND33] = "lowIND33"
                [lowIND34] = "lowIND34"
                [lowIND41] = "lowIND41"
                [lowIND42] = "lowIND42"
                [lowIND43] = "lowIND43"
                [lowIND44] = "lowIND44">
      </app-standard-images>
      <br>
      <br>
    </div>
  </div>
</div>
